# Visualiza Média Móvel Projetada

Rodado pelo 015

In [1]:
##### Computação cietífica
import numpy as np
##### Manipulação e análise
import pandas as pd
##### Análise exploratória visual
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Lê arquivo com histórico de importação de fertilizantes já selecionado, limpo, validado, segementado e
# agrupado no tempo
i_o=pd.read_csv('~/comex/data/imp5.csv')

In [3]:
%store -r pred_regress
pred_regress

,MES,NCM,date,k1,k2,k3,k4,k5,k6,KG_pred
0,11,31021010-0,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,3.689676e+07
1,11,31022100-0,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,2.533708e+07
2,11,31042090-0,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,7.071014e+07
3,11,31054000-0,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,3.576934e+07
4,11,31055900-1,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,2.216363e+07
5,11,31059090-1,1698796800000000000,114750000.0,34530000.0,37437366.0,14695000.0,1416000.0,9516500.0,8.656725e+06

In [4]:
%store -r result_mes

In [5]:
result_mes['KG']=result_mes.KT*10**6*result_mes.oc

In [6]:
result_mes['MES']=d_pred.iloc[0][1]

NameError: name 'd_pred' is not defined

In [ ]:
result_mes['ANO']=d_pred.iloc[0][0]

In [ ]:
result_mes

In [ ]:
i_m=i_o[i_o.grupo_mes==1].drop(columns='grupo_mes').assign(tipo='real')
i_m

In [ ]:
result_mes=result_mes[['ANO','MES','NCM','KG']].assign(tipo='pred')
result_mes

In [ ]:
imp_mes=pd.concat([i_m,result_mes])

In [ ]:
imp_mes['date']=pd.to_datetime(imp_mes.ANO.astype(str)+'/'+imp_mes.MES.astype(str))
imp_mes=imp_mes.set_index('date')
imp_mes=imp_mes[['ANO','MES','NCM','KG','tipo']]

In [ ]:
q=pd.DataFrame()
for ncm in imp_mes.NCM.unique():
    imp_mes_t=imp_mes[imp_mes.NCM==ncm]
    imp_mes_t=imp_mes_t.assign(MMkg=imp_mes_t.KG.rolling('365D').mean())
    q=pd.concat([q,imp_mes_t])
imp_mes_mm=round(q)
imp_mes_mm

In [ ]:
sns.relplot(data=imp_mes_mm, y='MMkg',x='date', hue='tipo', col='NCM', col_wrap=3, alpha=.5)\
.fig.suptitle(f"Previsão da Média Móvel em kg para {d_pred.iloc[0][1]}/{d_pred.iloc[0][0]}",y=1.1,fontsize=20)

plt.show()